{% extends "web/base.html" %}
{% load static %}
{% block content %}

    <!-- Subpage Section Start -->
    <div class="page-header parallaxie">
        <div class="container">
            <div class="row">
                <div class="co-md-12">
                    <!-- Sub page Header start -->
                    <div class="page-header-box">
                        <h1 class="text-anime">About Us</h1>
                        <nav>
							<ol class="breadcrumb  "  >
								<li class="breadcrumb-item"><a href="{% url 'web:index' %}">Home</a></li>
								<li class="breadcrumb-item active">About Us</li>
							</ol>
						</nav>
                    </div>
                    <!-- Sub page Header end -->
                </div>
            </div>
        </div>
    </div>
    <!-- Subpage Section End -->

    <!-- About Section Start -->
    <div class="about-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 order-lg-1 order-2">
                    <!-- About video start -->
					<div class="about-video wow fadeInLeft"  >
                        <figure class="image-anime">
                            <img src="{% static 'web/images/video-placeholder.jpg' %}" alt="">
                        </figure>
					</div>
					<!-- About video end -->
                </div>

                <div class="col-lg-6 col-md-12 order-lg-2 order-1">
                    <div class="about-content">
                        <!-- Section Title start -->
                        <div class="section-title">
                            <h3 class=" "  >IHP CHARTERED ACCOUNTANTS</h3>
                            {% comment %} <h2 class="text-anime">Audit, Tax, Accounting & Business Advisory Firm In Doha - Qatar</h2> {% endcomment %}
                            <h2 class="text-anime">Audit, Tax, Accounting & Business Advisory Firm In Doha - Qatar</h2>

                        </div>
                        <!-- Section Title end -->

                        <div class="about-body">
                            <p class=" "  >ISLAM HENDAWY MOHAMED AND PARTNERS CHARTERED ACCOUNTANT–

                                (IHP) is a professional team with regional experiences
                                in the Middle East and GCC markets to provide highly professional services in Assurance, Audit, Accounting, Tax, Business Consulting, Forensic Accounting, Fundi-ng Solutions, Liquidation and Arbitration Consultancy Business Legal, Litigation Consultancy.
                                We are the Best Chartered Accountant Firms in Qatar.</p>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Section End -->

    <!-- Our Approach Section Start -->
    <div class="our-approach-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Section Title start -->
                    <div class="section-title text-center">
                        <h3 class=" "  >Navigating Towards Success</h3>
                        <h2 class="text-anime">Our Guiding Philosophy</h2>
                    </div>
                    <!-- Section Title end -->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <div class="step-box vision-box  "  >
                        <!-- Step Box Img start -->
                        <div class="step-img">
                            <figure class="image-anime">
                                <img src="{% static 'web/images/our-vision-img.jpg' %}" alt="">
                            </figure>
                        </div>
                        <!-- Step Box Img end -->

                        <!-- Step Box Body start -->
                        <div class="step-body">
                            <!-- Step Icon start -->
                            <div class="step-icon">
                                <img src="{% static 'web/images/icon-vision.svg' %}" alt="">
                            </div>
                            <!-- Step Icon end -->

                            <h3>Our Vision</h3>

                            <p>Our vision is to become the first choice for businesses seeking expert financial services in Qatar and fulfill their requirements to the fullest timely. </p>
                        </div>
                        <!-- Step Box Body end -->
                    </div>
                </div>

                <div class="col-lg-3 col-md-12">
                    <div class="step-box   vision-box" data-wow-delay="0.75s">
                        <!-- Step Box Img start -->
                        <div class="step-img">
                            <figure class="image-anime">
                                <img src="{% static 'web/images/our-mission-img.jpg' %}" alt="">
                            </figure>
                        </div>
                        <!-- Step Box Img end -->

                        <!-- Step Box Body start -->
                        <div class="step-body">
                            <!-- Step Icon start -->
                            <div class="step-icon">
                                <img src="{% static 'web/images/icon-mission.svg' %}" alt="">
                            </div>
                            <!-- Step Icon end -->

                            <h3>Our Mission</h3>

                            <p>It is our mission to meet our clientele’s needs within time,deliver top-notch services, and foster professional relationships. 

                            </p>
                        </div>
                        <!-- Step Box Body end -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="step-box   vision-box"  >
                        <!-- Step Box Img start -->
                        <div class="step-img">
                            <figure class="image-anime">
                                <img src="{% static 'web/images/post-2.jpg' %}" alt="">
                            </figure>
                        </div>
                        <!-- Step Box Img end -->

                        <!-- Step Box Body start -->
                        <div class="step-body">
                            <!-- Step Icon start -->
                            <div class="step-icon">
                                <img src="{% static 'web/images/loader.svg' %}" alt="">
                            </div>
                            <!-- Step Icon end -->

                            <h3>Our Values</h3>

                            <p>At IHPCA, we prioritize meticulous preparation, ensuring unparalleled service delivery that surpasses expectations. </p>
                        </div>
                        <!-- Step Box Body end -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="step-box   vision-box"  >
                        <!-- Step Box Img start -->
                        <div class="step-img">
                            <figure class="image-anime">
                                <img src="{% static 'web/images/post-6.jpg' %}" alt="">
                            </figure>
                        </div>
                        <!-- Step Box Img end -->

                        <!-- Step Box Body start -->
                        <div class="step-body">
                            <!-- Step Icon start -->
                            <div class="step-icon">
                                <img src="{% static 'web/images/Process.svg' %}" alt="">
                            </div>
                            <!-- Step Icon end -->

                            <h3>Our Process</h3>

                            <p>Experience brings our work to the level of excellency. The investment process is being tested in every market environment thoroughly.</p>
                        </div>
                        <!-- Step Box Body end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Our Approach Section End -->


    <!-- Our Team Section Start -->
    <div class="our-team-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Section Title start -->
                    <div class="section-title text-center">
                        <h3 class=" "  >OUR EXPERTS</h3>
                        <h2 class="text-anime">Team of Professionals</h2>
                    </div>
                    <!-- Section Title end -->
                </div>
            </div>

            <div class="row">
                {% for team in teams %}
                <div class="col-lg-3 col-12">
                    <!-- Team Member Item Start -->
                    <div class="team-member-card text-center  "  >
                        <!-- Team Img start -->
                        <div class="team-img">
                            <figure class="image-anime">
                                <img src="{{team.image.url}}" alt="">
                            </figure>
                        </div>
                        <!-- Team Img end -->

                        <!-- Team Body start -->
                        <div class="team-content">
                            <h3>{{team.name}}</h3>
                            <p>{{team.position}}</p>
                            <div class="divider-separator"></div>
                        </div>
                        <!-- Team Body end -->
                    </div>
                    <!-- Team Member Item End -->
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Our Team Section End -->

    {% endblock %}