{% extends "web/base.html" %}
{% load static %}
{% block content %}

    <!-- Page Header Start -->
	<div class="page-header parallaxie">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<!-- Page Header Box start -->
					<div class="page-header-box">
						<h1 class="text-anime">Blog</h1>
						<nav>
							<ol class="breadcrumb wow fadeInUp" data-wow-delay="0.50s">
								<li class="breadcrumb-item"><a href="{% url 'web:index' %}">Home</a></li>
								<li class="breadcrumb-item active">Blog</li>
							</ol>
						</nav>
					</div>
					<!-- Page Header Box end -->
				</div>
			</div>
		</div>
	</div>
	<!-- Page Header End -->

    <!-- Blog Page Start -->
    <div class="blog-page">
        <div class="container"> 
            <div class="row">
                <!-- Post item Start -->
                <div class="col-lg-4 col-md-12">
                    <div class="post-item wow fadeInUp" data-wow-delay="0.25s">
                        <!-- Post Header start -->
                        <div class="post-header">
                            <!-- Feature Img start -->
                            <div class="feature-img">
                                <a href="blog-single.html">
                                    <figure class="image-anime">
                                        <img src="{% static 'web/images/post-1.jpg' %}" alt="">
                                    </figure>
                                </a>
                            </div>
                            <!-- Feature Img end -->

                            <!-- Post Meta start -->
                            <div class="post-meta">
                                <ul>
                                    <li>Business Insurance</li>
                                </ul>
                            </div>
                            <!-- Post Meta end -->
                        </div>
                        <!-- Post Feature Img end -->

                        <!-- Post Content start -->
                        <div class="post-content">
                            <div class="post-header">   
                                <h2><a href="blog-single.html">Understanding Your Insurance Coverage</a></h2>

                                <p>In today's complex world, understanding your insurance coverage is more important than ever.</p>

                                <a href="blog-single.html" class="btn-read-more">Read more</a>
                            </div>
                        </div>
                        <!-- Post Content end -->
                    </div>
                </div>
                <!-- Post item End -->

                <!-- Post item Start -->
                <div class="col-lg-4 col-md-12">
                    <div class="post-item wow fadeInUp" data-wow-delay="0.50s">
                        <!-- Post Header start -->
                        <div class="post-header">
                            <!-- Feature Img start -->
                            <div class="feature-img">
                                <a href="blog-single.html">
                                    <figure class="image-anime">
                                        <img src="{% static 'web/images/post-2.jpg' %}" alt="">
                                    </figure>
                                </a>
                            </div>
                            <!-- Feature Img end -->

                            <!-- Post Meta start -->
                            <div class="post-meta">
                                <ul>
                                    <li>Home Insurance</li>
                                </ul>
                            </div>
                            <!-- Post Meta end -->
                        </div>
                        <!-- Post Feature Img end -->

                        <!-- Post Content start -->
                        <div class="post-content">
                            <div class="post-header">   
                                <h2><a href="blog-single.html">Tips for Choosing the Right Insurance Policy</a></h2>

                                <p>In today's complex world, understanding your insurance coverage is more important than ever.</p>

                                <a href="blog-single.html" class="btn-read-more">Read more</a>
                            </div>
                        </div>
                        <!-- Post Content end -->
                    </div>
                </div>
                <!-- Post item End -->

                <!-- Post item Start -->
                <div class="col-lg-4 col-md-12">
                    <div class="post-item wow fadeInUp" data-wow-delay="0.75s">
                        <!-- Post Header start -->
                        <div class="post-header">
                            <!-- Feature Img start -->
                            <div class="feature-img">
                                <a href="blog-single.html">
                                    <figure class="image-anime">
                                        <img src="{% static 'web/images/post-3.jpg' %}" alt="">
                                    </figure>
                                </a>
                            </div>
                            <!-- Feature Img end -->

                            <!-- Post Meta start -->
                            <div class="post-meta">
                                <ul>
                                    <li>Car Insurance</li>    
                                </ul>
                            </div>
                            <!-- Post Meta end -->
                        </div>
                        <!-- Post Feature Img end -->

                        <!-- Post Content start -->
                        <div class="post-content">
                            <div class="post-header">   
                                <h2><a href="blog-single.html">How to Safeguard Your Financial Well-being</a></h2>

                                <p>In today's complex world, understanding your insurance coverage is more important than ever.</p>

                                <a href="blog-single.html" class="btn-read-more">Read more</a>
                            </div>
                        </div>
                        <!-- Post Content end -->
                    </div>
                </div>
                <!-- Post item End -->

                <!-- Post item Start -->
                <div class="col-lg-4 col-md-12">
                    <div class="post-item wow fadeInUp" data-wow-delay="1.0s">
                        <!-- Post Header start -->
                        <div class="post-header">
                            <!-- Feature Img start -->
                            <div class="feature-img">
                                <a href="blog-single.html">
                                    <figure class="image-anime">
                                        <img src="{% static 'web/images/post-4.jpg' %}" alt="">
                                    </figure>
                                </a>
                            </div>
                            <!-- Feature Img end -->

                            <!-- Post Meta start -->
                            <div class="post-meta">
                                <ul>
                                    <li>Health Insurance</li>
                                </ul>
                            </div>
                            <!-- Post Meta end -->
                        </div>
                        <!-- Post Feature Img end -->

                        <!-- Post Content start -->
                        <div class="post-content">
                            <div class="post-header">   
                                <h2><a href="blog-single.html">A Guide to Bundling Insurance Policies for Savings</a></h2>

                                <p>In today's complex world, understanding your insurance coverage is more important than ever.</p>

                                <a href="blog-single.html" class="btn-read-more">Read more</a>
                            </div>
                        </div>
                        <!-- Post Content end -->
                    </div>
                </div>
                <!-- Post item End -->

                <!-- Post item Start -->
                <div class="col-lg-4 col-md-12">
                    <div class="post-item wow fadeInUp" data-wow-delay="1.25s">
                        <!-- Post Header start -->
                        <div class="post-header">
                            <!-- Feature Img start -->
                            <div class="feature-img">
                                <a href="blog-single.html">
                                    <figure class="image-anime">
                                        <img src="{% static 'web/images/post-5.jpg' %}" alt="">
                                    </figure>
                                </a>
                            </div>
                            <!-- Feature Img end -->

                            <!-- Post Meta start -->
                            <div class="post-meta">
                                <ul>
                                    <li>Life Insurance</li>
                                </ul>
                            </div>
                            <!-- Post Meta end -->
                        </div>
                        <!-- Post Feature Img end -->

                        <!-- Post Content start -->
                        <div class="post-content">
                            <div class="post-header">   
                                <h2><a href="blog-single.html">How Insurance Can Help Rebuild After a Disaster</a></h2>

                                <p>In today's complex world, understanding your insurance coverage is more important than ever.</p>

                                <a href="blog-single.html" class="btn-read-more">Read more</a>
                            </div>
                        </div>
                        <!-- Post Content end -->
                    </div>
                </div>
                <!-- Post item End -->

                <!-- Post item Start -->
                <div class="col-lg-4 col-md-12">
                    <div class="post-item wow fadeInUp" data-wow-delay="1.50s">
                        <!-- Post Header start -->
                        <div class="post-header">
                            <!-- Feature Img start -->
                            <div class="feature-img">
                                <a href="blog-single.html">
                                    <figure class="image-anime">
                                        <img src="{% static 'web/images/post-6.jpg' %}" alt="">
                                    </figure>
                                </a>
                            </div>
                            <!-- Feature Img end -->

                            <!-- Post Meta start -->
                            <div class="post-meta">
                                <ul>                                    
                                    <li>Travel Insurance</li>
                                </ul>
                            </div>
                            <!-- Post Meta end -->
                        </div>
                        <!-- Post Feature Img end -->

                        <!-- Post Content start -->
                        <div class="post-content">
                            <div class="post-header">   
                                <h2><a href="blog-single.html">Understanding Key Terms and Concepts</a></h2>

                                <p>In today's complex world, understanding your insurance coverage is more important than ever.</p>

                                <a href="blog-single.html" class="btn-read-more">Read more</a>
                            </div>
                        </div>
                        <!-- Post Content end -->
                    </div>
                </div>
                <!-- Post item End -->

            </div>

            <div class="row">
				<div class="col-md-12">
					<!-- Post Pagination Start -->
					<div class="post-pagination wow fadeInUp" data-wow-delay="1.50s">
						<ul class="pagination">
							<li><a href="#"><i class="fa-solid fa-arrow-left-long"></i></a></li>
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#"><i class="fa-solid fa-arrow-right-long"></i></a></li>
						</ul>
					</div>
					<!-- Post Pagination End -->
				</div>
			</div>
        </div>
    </div>
    <!-- Blog Page End -->

    <!-- Footer Start -->
    <footer class="main-footer">
        <!-- News Letter Section Start -->
        <div class="newsletter-section">
            <div class="container">
                <div class="row subscribe-newsletter align-items-center">
                    <div class="col-lg-6 col-12">
                        <!-- News Letter Content Start -->
                        <div class="newsletter-content">
                            <h2>Subscribe To Newsletter</h2>
                            <p>Stay informed with our latest updates! Subscribe to our newsletter to receive exclusive content & special offers.</p>
                        </div>
                        <!-- News Letter Content End -->
                    </div>

                    <div class="col-lg-6 col-12">
                        <!-- News Letter Form start -->
                        <div class="newsletter-form">
                            <form action="#" method="POST">
                                <div class="row align-items-center no-gutters">
                                    <div class="form-group col-md-8">
                                        <input type="email" name ="email" class="form-control" id="newsletter_email" placeholder="Enter Email Address" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
    
                                    <div class="col-md-4 text-end">
                                        <button type="submit" class="btn-default">Subscribe</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- News Letter Form end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- News Letter Section End -->

        <!-- Site Branding Start -->
        <div class="site-branding">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <!-- Site Footer Logo start -->
                        <div class="site-footer-logo">
                            <img src="{% static 'web/images/footer-logo.png" alt="">
                        </div>
                        <!-- Site Footer Logo end -->
                    </div>

                    <div class="col-md-6">
                        <!-- Footer Social Link start -->
                        <div class="footer-social-link">
                            <ul>
                                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                            </ul>
                        </div>  
                        <!-- Footer Social Link end -->
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}