{% extends "web/base.html" %}
{% load static %}
{% block content %}

    <!-- Page Header Start -->
	<div class="page-header parallaxie">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<!-- Page Header Box start -->
					<div class="page-header-box">
						<h1 class="text-anime">Blog</h1>
						<nav>
							<ol class="breadcrumb wow fadeInUp" data-wow-delay="0.50s">
								<li class="breadcrumb-item"><a href="{% url 'web:index' %}">Home</a></li>
								<li class="breadcrumb-item active">Blog</li>
							</ol>
						</nav>
					</div>
					<!-- Page Header Box end -->
				</div>
			</div>
		</div>
	</div>
	<!-- Page Header End -->

    <!-- Blog Page Start -->
    <div class="blog-page">
        <div class="container"> 
            <div class="row">
                {% for blog in blogs  %}
                <!-- Post item Start -->
                <div class="col-lg-4 col-md-12">
                    <div class="post-item wow fadeInUp" data-wow-delay="0.50s">
                        <!-- Post Header start -->
                        <div class="post-header">
                            <!-- Feature Img start -->
                            <div class="feature-img">
                                <a href="{{blog.get_absolute_url}}">
                                    <figure class="image-anime">
                                        <img src="{{blog.image.url}}" alt="">
                                    </figure>
                                </a>
                            </div>
                            <!-- Feature Img end -->
                        </div>
                        <!-- Post Feature Img end -->

                        <!-- Post Content start -->
                        <div class="post-content">
                            <div class="post-header">   
                                <h2><a href="{{blog.get_absolute_url}}">{{blog.title|truncatechars:30|safe}}</a></h2>
                                <h6>{{blog.date}}</h6>

                                <p>{{blog.content|truncatechars:95|safe}}</p>

                                <a href="{{blog.get_absolute_url}}" class="btn-read-more">Read more</a>
                            </div>
                        </div>
                        <!-- Post Content end -->
                    </div>
                </div>
                <!-- Post item End -->
                {% endfor %}

            </div>
        </div>
    </div>
    <!-- Blog Page End -->
        {% endblock %}