
{% extends "web/base.html" %}
{% load static %}
{% block content %}

    <!-- Subpage Section Start -->
    <div class="page-header parallaxie">
        <div class="container">
            <div class="row">
                <div class="co-md-12">
                    <!-- Sub page Header start -->
                    <div class="page-header-box">
                        <h1 class="text-anime">Understanding Your Insurance..</h1>
                        <nav>
							<ol class="breadcrumb wow fadeInUp" data-wow-delay="0.50s">
								<li class="breadcrumb-item"><a href="{% url 'web:index' %}">Home</a></li>
								<li class="breadcrumb-item"><a href="{% url 'web:blog' %}">Blog</a></li>
								<li class="breadcrumb-item active">Understanding Your...</li>
							</ol>
						</nav>
                    </div>
                    <!-- Sub page Header end -->
                </div>
            </div>
        </div>
    </div>
    <!-- Subpage Section End -->

    <!-- Blog Single Start -->
    <div class="blog-single-page">
        <div class="container">
            <div class="row flex-column-reverse flex-lg-row">
               <div class="col-lg-4">
                    <!-- Blog Single Side Bar Start -->
                    <div class="blog-single-side-bar">

                        <!-- Blog Recent Post start -->
                        <div class="blog-recent-post wow fadeInUp" data-wow-delay="0.65s">
                            <h3>Recent Post</h3>

                            <ul>
                                {% for post in recentposts %}
                                <li class="releted-post">
                                    <div class="feature-title">
                                        <h2><a href="{{post.get_absolute_url}}">{{blog.title|truncatechars:50|safe}}</a></h2>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- Blog Recent Post end -->
                    </div>
                    <!-- Blog Single Side Bar End -->
                </div> 

                <div class="col-lg-8">
                    <!-- Post Content Start -->
                    <div class="post-content">
                        <!-- Post Feature Image start -->
                        <div class="post-feature-image wow fadeInUp" data-wow-delay="0.25s">
                            <figure class="image-anime">
                                <img src="{{blog.image.url}}" alt="">
                            </figure>
                        </div>
                        <!-- Post Feature Image end -->

                        <!-- Post Entry Start -->
                        <div class="post-entry wow fadeInUp" data-wow-delay="0.50s">
                            <h2>{{blog.title}}</h2>
                            <p>{{blog.content |safe}}</p>
                        </div>
                        <!-- Post Entry End -->
                    </div>
                    <!-- Post Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Blog Single End -->
{% endblock %}