{% extends "web/base.html" %}
{% load static %}
{% block content %}

    <!-- Hero Section Start -->
    <div class="hero parallaxie">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8">
                    <!-- Section Title start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp" data-wow-delay="0.25s">Empowering Growth</h3>
                        <h1 class="text-anime">Reduce The Risk of Accounting Limitlessly!</h1>
                    </div>
                    <!-- Section Title end -->

                    <!-- Hero Body start -->
                    <div class="hero-body">
                        <p class="wow fadeInUp" data-wow-delay="0.50s">You Just Focus On Your Business And We Do Your Financial Assistance As Background! </p>
                        <a href="{% url 'web:contact' %}" class="btn-default hero-btn wow fadeInUp" data-wow-delay="0.75s">Enquiry Now</a>
                    </div>
                    <!-- Hero Body end -->
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Section End -->

    {% comment %} <!-- Home Inforamtion Section Starts -->
    <div class="home-info-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Information Box Item start -->
                    <div class="info-box wow fadeInUp" data-wow-delay="0.50s">
                        <div class="box-icon">
                            <img src="{% static 'web/images/icon-peace-of-mind.svg' %}" alt="">
                        </div>
                        <div class="box-body">
                            <h3>Peace of Mind</h3>  
                            <p>Phasellus fermentum congue arcu.</p>
                        </div>
                    </div>
                    <!-- Information Box Item end -->
                </div>

                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Information Box Item start -->
                    <div class="info-box wow fadeInUp" data-wow-delay="0.75s">
                        <div class="box-icon">
                            <img src="{% static 'web/images/icon-tailored-cover.svg' %}" alt="">
                        </div>
                        <div class="box-body">
                            <h3>Tailored Cover</h3>
                            <p>Phasellus fermentum congue arcu.</p>
                        </div>
                    </div>
                    <!-- Information Box Item end -->
                </div>

                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Information Box Item start -->
                    <div class="info-box wow fadeInUp" data-wow-delay="1.0s">
                        <div class="box-icon">
                            <img src="{% static 'web/images/icon-24-7-support.svg' %}" alt="">
                        </div>
                        <div class="box-body">
                            <h3>24/7 Support</h3>
                            <p>Phasellus fermentum congue arcu.</p>
                        </div>
                    </div>
                    <!-- Information Box Item end -->
                </div>                
            </div>
        </div>
    </div>
    <!-- Home Inforamtion Section End --> {% endcomment %}

    <!-- About Section Start -->
    <div class="about-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 order-lg-1 order-2">
                    <!-- About video start -->
					<div class="about-video wow fadeInLeft" data-wow-delay="0.25s">
                        <figure class="image-anime">
                            <img src="{% static 'web/images/video-placeholder.jpg' %}" alt="">
                        </figure>
					</div>
					<!-- About video end -->
                </div>

                <div class="col-lg-6 col-md-12 order-lg-2 order-1">
                    <div class="about-content">
                        <!-- Section Title start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp" data-wow-delay="0.25s">IHP CHARTERED ACCOUNTANTS</h3>
                            {% comment %} <h2 class="text-anime">Audit, Tax, Accounting & Business Advisory Firm In Doha - Qatar</h2> {% endcomment %}
                            <h2 class="text-anime">Audit, Tax, Accounting & Business Advisory Firm In Doha - Qatar</h2>

                        </div>
                        <!-- Section Title end -->

                        <div class="about-body">
                            <p class="wow fadeInUp" data-wow-delay="0.50s">ISLAM HENDAWY MOHAMED AND PARTNERS CHARTERED ACCOUNTANT–

                                (IHP) is a professional team with regional experiences
                                in the Middle East and GCC markets to provide highly professional services in Assurance, Audit, Accounting, Tax, Business Consulting, Forensic Accounting, Fundi-ng Solutions, Liquidation and Arbitration Consultancy Business Legal, Litigation Consultancy.
                                We are the Best Chartered Accountant Firms in Qatar.</p>
                        </div>  

                        <div class="about-btn">
                            <a href="{% url 'web:about' %}" class="btn-default wow fadeInUp" data-wow-delay="1.25s">read More</a>
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Section End -->

    <!-- Our Services Start -->
    <div class="our-service">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Title start -->
                    <div class="section-title text-center">
                        <h3 class="wow fadeInUp" data-wow-delay="0.25s">Our Services</h3>
                        <h2 class="text-anime">What we are Offering</h2>
                    </div>
                    <!-- Section Title end -->
                </div>
            </div>

            <div class="row">
                {% for service in services %}
                <!-- Services Step Box Start -->
                <div class="col-lg-4 col-md-12">
                    <div class="step-box wow fadeInUp service-box" data-wow-delay="0.50s">
                        <!-- Step Box Img start -->
                        <div class="step-img">
                            <figure class="image-anime">
                                <img src="{{service.service_image.url}}" alt="{{service.service_name}}">
                            </figure>
                        </div>
                        <!-- Step Box Img end -->

                        <!-- Step Box Body start -->
                        <div class="step-body">
                            <!-- Step Icon start -->
                            <div class="step-icon service-icon">
                            </div>
                            <!-- Step Icon end -->

                            <h3>{{service.service_name}}</h3>
                            <p>{{service.content|truncatechars:100|safe}}</p>
                            <a href="{{service.get_absolute_url}}" class="btn-read-more">Read More</a>
                        </div>
                        <!-- Step Box Body end -->
                    </div>
                </div>
                <!-- Services Step Box End -->
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="service-btn text-center wow fadeInUp" data-wow-delay="0.50s">
                        <a href="{% url 'web:service' %}" class="btn-default">View All Services</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Our Services End -->

    <!-- Get Consultations Start -->
    <div class="get-consulations">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <!-- Consulations Image start -->
                    <div class="consulations-img text-lg-start text-center wow fadeInUp" data-wow-delay="0.50s">
                        <img src="{% static 'web/images/get-consulations.png' %}" alt="">
                    </div>
                    <!-- Consulations Image end -->
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="consulations-content">
                        <!-- Section Title start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp" data-wow-delay="0.25s">OUR STRATEGY
                            </h3>
                            <h2 class="text-anime">We Partner In Your Success</h2>
                        </div>
                        <!-- Section Title end -->

                        <!-- Consulations Body start -->
                        <div class="consulations-body">
                            <p class="wow fadeInUp" data-wow-delay="0.50s">We are committed to the highest levels of technical expertise and professional standards. We believe, every client is unique and our professional solutions should be tailored to our client requirements. In IHPCA, we believe we can provide exactly w hat the clients need, no less or no more. We belive that we will be the best partners in your success. We are the Chartered Accountants in Qatar.</p>
                        </div>
                        <!-- Consulations Body end -->
                        <!-- List Icon end -->

                        <a href="{% url 'web:contact' %}" class="btn-default wow fadeInUp" data-wow-delay="1.0s">Contact Now</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Get Consultations Section End -->

    <!-- Counter Section Start -->
    <div class="counter-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- Counter Box start -->
                    <div class="counter-box wow fadeInUp" data-wow-delay="0.50s">
                        <div class="counter-img">
                            <img src="{% static 'web/images/icon-happy-customers.svg' %}" alt="">
                        </div>
                        <div class="counter-body">
                            <h3><span class="counter">97</span>%</h3>
                            <p>Happy Customers</p>
                        </div>
                    </div>  
                    <!-- Counter Box end -->
                </div>
                
                <div class="col-lg-3 col-6">
                    <!-- Counter Box start -->
                    <div class="counter-box wow fadeInUp" data-wow-delay="0.75s">
                        <div class="counter-img">
                            <img src="{% static 'web/images/icon-insurance-careers.svg' %}" alt="">
                        </div>
                        <div class="counter-body">
                            <h3><span class="counter">93</span>%</h3>
                            <p>Returning Customers
                            </p>
                        </div>
                    </div>  
                    <!-- Counter Box end -->
                </div>

                <div class="col-lg-3 col-6">
                    <!-- Counter Box start -->
                    <div class="counter-box wow fadeInUp" data-wow-delay="1.0s">
                        <div class="counter-img">
                            <img src="{% static 'web/images/icon-awards-won.svg' %}" alt="">
                        </div>
                        <div class="counter-body">
                            <h3><span class="counter">15</span>+</h3>
                            <p>Awards Won</p>
                        </div>
                    </div>  
                    <!-- Counter Box end -->
                </div>

                <div class="col-lg-3 col-6">
                    <!-- Counter Box start -->
                    <div class="counter-box wow fadeInUp" data-wow-delay="1.25s">
                        <div class="counter-img">
                            <img src="{% static 'web/images/icon-claims-settled.svg' %}" alt="">
                        </div>
                        <div class="counter-body">
                            <h3><span class="counter">2000</span>+</h3>
                            <p>Claims Settled</p>
                        </div>
                    </div>  
                    <!-- Counter Box end -->
                </div>
            </div>
        </div>
    </div>
    <!-- Counter Section End -->

    <!-- Our Team Section Start -->
    <div class="our-team-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Section Title start -->
                    <div class="section-title text-center">
                        <h3 class="wow fadeInUp" data-wow-delay="0.25s">OUR EXPERTS</h3>
                        <h2 class="text-anime">Team of Professionals</h2>
                    </div>
                    <!-- Section Title end -->
                </div>
            </div>

            <div class="row">
                {% for team in teams %}
                <div class="col-lg-3 col-12">
                    <!-- Team Member Item Start -->
                    <div class="team-member-card text-center wow fadeInUp" data-wow-delay="0.50s">
                        <!-- Team Img start -->
                        <div class="team-img">
                            <figure class="image-anime">
                                <img src="{{team.image.url}}" alt="">
                            </figure>
                        </div>
                        <!-- Team Img end -->

                        <!-- Team Body start -->
                        <div class="team-content">
                            <h3>{{team.name}}</h3>
                            <p>{{team.position}}</p>
                            <div class="divider-separator"></div>
                        </div>
                        <!-- Team Body end -->
                    </div>
                    <!-- Team Member Item End -->
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Our Team Section End -->

    <!-- Why Choose Us Section Start -->
    <div class="why-choose-us parallaxie">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-12">
                    <!-- Why Choose Image start -->
                    <div class="why-choose-img">
                        <figure  class="reveal image-anime">
                            <img src="{% static 'web/images/why-choose-us-img.jpg' %}" alt="">
                        </figure>
                    </div>
                    <!-- Why Choose Image end -->
                </div>

                <div class="col-lg-7 col-12">
                    <!-- Section Title start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp" data-wow-delay="0.25s">OUR VALUES</h3>
                        <h2 class="text-anime">A Financial Plan Is a Life Plan!
                        </h2>
                    </div>
                    <!-- Section Title end -->

                    <!-- Why Choose Body start -->
                    <div class="why-choose-body">
                        <p class="wow fadeInUp" data-wow-delay="0.50s">Considered amongst the best chartered accountant firms in Qatar, our mission is to serve our clients by providing client -focused, elite level accountancy and financial service that as sure fiscal responsibility inline with sound business practices and regulatory requirements. Whether you require the servic
                            es of a rental dispute lawyer, or need assistance with compa
                            ny formation, company liquidation and corporate accounting then IHP Chartered Accountants is just where you should be.</p>
                        
                        <ul class="why-choose-list wow fadeInUp" data-wow-delay="0.75s">
                            <li>Top-tier chartered accountancy</li>
                            <li>Client-focused services</li>
                            <li>Fiscal responsibility assurance</li>
                            <li>Rental dispute resolution
                            </li>
                            <li>Company formation assistance
                            </li>
                            <li>Corporate accounting expertise </li>
                        </ul>
                    </div>
                </div>
                <!-- Why Choose Body end -->
            </div>
        </div>
    </div>
    <!-- Why Choose Us Section End -->

    <!-- Testimonials Start -->
    <div class="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Section Title start -->
                    <div class="section-title text-center">
                        <h3 class="wow fadeInUp" data-wow-delay="0.25s">Testimonials</h3>
                        <h2 class="text-anime">Why Client trust Us</h2>
                    </div>
                    <!-- Section Title end -->
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="testimonial-slider-wrapper wow fadeInUp" data-wow-delay="0.50s">
                        <!-- Testimonial Carousel start -->
                        <div class="swiper testimonial-slider">
                            <div class="swiper-wrapper">
                                {% for testimonial in testimonials %}
                                <!-- Testimonial Slide start -->
                                <div class="swiper-slide">
                                    <div class="testimonial-slide">
                                        <div class="testimonial-header">
                                            <figure class="image-anime">
                                                <img src="{{testimonial.image.url}}" alt="{{testimonial.name}}">
                                            </figure>   
                                            <h3>{{testimonial.name}}</h3>
                                        </div>

                                        <div class="testimonial-body">
                                            <p>{{testimonial.description}}</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Testimonial Slide end -->
                                {% endfor %}
                            </div>

                            <div class="swiper-pagination"></div>
                        </div>
                        <!-- Testimonial Carousel end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonials End -->

    <!-- Our Articles Start -->
    <div class="our-articles">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Section Title Start -->
                    <div class="section-title text-center">
                        <h3 class="wow fadeInUp" data-wow-delay="0.25s">Blog & Updates</h3>
                        <h2 class="text-anime">Stay Tuned for Our Updates</h2>
                    </div>
                    <!-- Section Title End -->                    
                </div>
            </div>

            <div class="row">
                {% for blog in blogs  %}
                <!-- Post item Start -->
                <div class="col-lg-4 col-md-12">
                    <div class="post-item wow fadeInUp" data-wow-delay="0.50s">
                        <!-- Post Header start -->
                        <div class="post-header">
                            <!-- Feature Img start -->
                            <div class="feature-img">
                                <a href="{{blog.get_absolute_url}}">
                                    <figure class="image-anime">
                                        <img src="{{blog.image.url}}" alt="">
                                    </figure>
                                </a>
                            </div>
                            <!-- Feature Img end -->
                        </div>
                        <!-- Post Feature Img end -->

                        <!-- Post Content start -->
                        <div class="post-content">
                            <div class="post-header">   
                                <h2><a href="{{blog.get_absolute_url}}">{{blog.title|truncatechars:30|safe}}</a></h2>

                                <p>{{blog.content|truncatechars:95|safe}}</p>

                                <a href="{{blog.get_absolute_url}}" class="btn-read-more">Read more</a>
                            </div>
                        </div>
                        <!-- Post Content end -->
                    </div>
                </div>
                <!-- Post item End -->
                {% endfor %}

            </div>
        </div>
    </div>
    <!-- Our Articles End -->

    <!-- Footer Start -->
   

  {% endblock %}