
{% extends "web/base.html" %}
{% load static %}
{% block content %}
    <!-- Hero Section Start -->
<div class="hero bg-section parallaxie">
        <div class="hero-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-9">
                        <!-- Hero Content Start -->
                        <div class="hero-content">
                            <!-- Section Title Start -->
                            <div class="section-title">
                                <h3 class="wow fadeInUp">Welcome to RPMS.</h3>
                                <h1 class="wow fadeInUp" data-wow-delay="0.2s">Expert your life & <span>business coaching</span></h1>
                            </div>
                            <!-- Section Title End -->
    
                            <!-- Hero Button Start -->
                            <div class="hero-btn wow fadeInUp" data-wow-delay="0.4s">
                                <a href="contact.html" class="btn-default">get in touch</a>
                                <a href="book-appointment.html" class="btn-default btn-highlighted">explore more</a>
                            </div>
                            <!-- Hero Button End -->
                        </div>
                        <!-- Hero Content End -->
                    </div>
                    
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="export-coaching-box wow fadeInUp" data-wow-delay="0.6s">
                            <!-- Export Coaching Step Start -->
                            <div class="export-coaching-step">
                                <div class="icon-box">
                                    <img src="{% static 'web/images/icon-export-coaching-1.svg' %}" alt="">
                                </div>
                                <div class="export-coaching-step-content">
                                    <p>Tailored Coaching Solutions for growth.</p>
                                </div>
                            </div>
                            <!-- Export Coaching Step End -->

                            <!-- Export Coaching Step Start -->
                            <div class="export-coaching-step">
                                <div class="icon-box">
                                    <img src="{% static 'web/images/icon-export-coaching-2.svg' %}" alt="">
                                </div>
                                <div class="export-coaching-step-content">
                                    <p>Proven Coaching Techniques Backed.</p>
                                </div>
                            </div>
                            <!-- Export Coaching Step End -->

                            <!-- Export Coaching Step Start -->
                            <div class="export-coaching-step">
                                <div class="icon-box">
                                    <img src="{% static 'web/images/icon-export-coaching-3.svg' %}" alt="">
                                </div>
                                <div class="export-coaching-step-content">
                                    <p>Holistic Life and Business Coaching.</p>
                                </div>
                            </div>
                            <!-- Export Coaching Step End -->

                            <!-- Export Coaching Step Start -->
                            <div class="export-coaching-step">
                                <div class="icon-box">
                                    <img src="{% static 'web/images/icon-export-coaching-4.svg' %}" alt="">
                                </div>
                                <div class="export-coaching-step-content">
                                    <p>Flexible Client Centered Coaching Program.</p>
                                </div>
                            </div>
                            <!-- Export Coaching Step End -->

                            <!-- Export Coaching Step Start -->
                            <div class="export-coaching-step">
                                <div class="icon-box">
                                    <img src="{% static 'web/images/icon-export-coaching-5.svg' %}" alt="">
                                </div>
                                <div class="export-coaching-step-content">
                                    <p>Expert Guidance with Ongoing Support.</p>
                                </div>
                            </div>
                            <!-- Export Coaching Step End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 

        {% comment %} <!-- Hero Section Start -->
        <div class="hero bg-section hero-slider-layout">
            <div class="swiper">
                <div class="swiper-wrapper">
                    {% for banner in banners %}
                    <!-- Hero Slide Start -->
                    <div class="swiper-slide">
                        <div class="hero-slide">
                            <!-- Slider Image Start -->
                            <div class="hero-slider-image">
                                <img src="{{banner.image.url}}" alt="">
                            </div>
                            <!-- Slider Image End -->
    
                            <!-- Hero Section Start -->
                            <div class="hero-section">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <!-- Hero Content Start -->
                                            <div class="hero-content">
                                                <!-- Section Title Start -->
                                                <div class="section-title">
                                                    <h3 class="wow fadeInUp">Welcome To RPMS Associates.</h3>
                                                    <h1 class="wow fadeInUp" data-wow-delay="0.2s"><span>{{banner.title}}</span> </h1>
                                                    <p class="wow fadeInUp" data-wow-delay="0.4s">{{banner.description}}</p>
                                                </div>
                                                <!-- Section Title End -->
                        
                                                <!-- Hero Button Start -->
                                                <div class="hero-btn wow fadeInUp" data-wow-delay="0.6s">
                                                    <a href="#" class="btn-default">Discover More</a>
                                                </div>
                                                <!-- Hero Button End -->
                                            </div>
                                            <!-- Hero Content End -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Hero Section End -->
                        </div>
                    </div>
                    <!-- Hero Slide End --> 
                    {% endfor %}
                </div>
                <div class="hero-pagination"></div>
            </div>
        </div>
        <!-- Hero Section End -->
    <!-- Hero Section End --> {% endcomment %}

    {% comment %} <!-- About Us Section Start -->
    <div class="about-us">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <!-- About Us Image Start -->
                    <div class="about-us-images">
                        <!-- About Us Img Start -->
                        <div class="about-us-img-1">
                            <figure class="image-anime">
                                <img src="{% static 'web/images/about-us-img-1.jpg' %}" alt="">
                            </figure>
                        </div>
                        <!-- About Us Img End -->

                        <!-- About Us Img Start -->
                        <div class="about-us-img-2">
                            <figure class="image-anime">
                                <img src="{% static 'web/images/about-us-img-2.jpg' %}" alt="">
                            </figure>                
                        </div>
                        <!-- About Us Img End -->
                        
                        <!-- About Experience Box Start -->
                        <div class="about-experience-box">
                            <div class="icon-box">
                                <img src="{% static 'web/images/icon-company-experience.svg' %}" alt="">
                            </div>

                            <div class="about-experience-content">
                                <h3><span class="counter">30</span>+ years of experience</h3>
                            </div>
                        </div>
                    </div>
                    <!-- About Us Image End -->
                </div>

                <div class="col-lg-6">
                    <!-- About Us Content Start -->
                    <div class="about-us-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">about us</h3>
                            <h2 class="wow fadeInUp" data-wow-delay="0.2s">{{about_us.title}}</h2>
                            <p class="wow fadeInUp" data-wow-delay="0.4s">{{about_us.description|safe}}</p>
                        </div>
                        <!-- Section Title End -->

                        <!-- About Us List Start -->
                        <div class="about-us-list wow fadeInUp" data-wow-delay="0.6s">
                            <ul>
                                {% for point in about_us.get_points %}
                                <li>{{point.title}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- About Us List End -->

                        <!-- About Us Footet Start -->
                        <div class="about-us-footer wow fadeInUp" data-wow-delay="1s">
                            <a href="#" class="btn-default">get in touch</a>
                        </div>
                        <!-- About Us Footet End -->
                    </div>
                    <!-- About Us Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- About Us Section End --> {% endcomment %}

        <!-- Our Potential Start -->
        <div class="our-potential">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <!-- Our Potential Content Start -->
                        <div class="our-potential-content">
                            <!-- Section Title Start -->
                            <div class="section-title">
                                <h3 class="wow fadeInUp">About US</h3>
                                <h2 class="wow fadeInUp" data-wow-delay="0.25s">{{about_us.title}}</span></h2>
                                <p class="wow fadeInUp" data-wow-delay="0.5s">{{about_us.description|safe}}</p>
                            </div>
                            <!-- Section Title End -->
    
                            <!-- Our Potential Body Start -->
                            <div class="our-potential-body">
                                <!-- Potential Body Content Start -->
                                <div class="potential-body-content">
                                    <h3 class="wow fadeInUp">Strategic Insights for Sustainable Success</h3>
                                </div>
                                <!-- Potential Body Content End -->
    
                                <!-- Potential Body List Start -->
                                <div class="potential-body-list wow fadeInUp" data-wow-delay="0.4s">
                                    <ul>
                                        {% for point in about_us.get_points %}
                                        <li>{{point.title}}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <!-- Potential Body List End -->
                            </div>
                            <!-- Our Potential Body End -->
                        </div>
                        <!-- Our Potential Content End -->
                    </div>
    
                    <div class="col-lg-6">
                        <!-- Our Potential Image Start -->
                        <div class="our-potential-img">
                            <figure class="image-anime reveal">
                                <img src="{% static 'web/images/our-potential-img.jpg' %}" alt="">
                            </figure>
                        </div>
                        <!-- Our Potential Image End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Our Potential End -->
    {% if services   %}
    <!-- Our Service Start -->
    <div class="our-service bg-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <!-- Service Content Start -->
                    <div class="service-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">services</h3>
                            <h2 class="wow fadeInUp" data-wow-delay="0.25s">Our <span>Services</span></h2>
                            <p class="wow fadeInUp" data-wow-delay="0.5s">RPMS Offers a broad range of services across various industry sectors & national boundaries.</p>
                        </div>
                        <!-- Section Title End -->

                        <!-- Service Btn Start -->
                        <div class="service-btn wow fadeInUp" data-wow-delay="0.75s">
                            <a href="#" class="btn-default">view all services</a>
                        </div>
                        <!-- Service Btn End -->
                    </div>
                    <!-- Service Content End -->
                </div>

                <div class="col-lg-7">
                    <!-- Service Item List Start -->
                    <div class="service-item-list">
                        {% for service in services %}
                        <!-- Service Item Start -->
                        <div class="service-item wow fadeInUp">
                            <div class="icon-box">
                                {% if service.service_icon %}
                                <img src="{{service.service_icon.url}}" alt="">
                                {% endif %}
                            </div>

                            <div class="service-item-content">
                                <h3>{{service.service_name}}</h3>
                                <p>{{service.content|safe}}</p>
                            </div>
                        </div>
                        <!-- Service Item Start -->
                        {% endfor %}
                    </div>
                    <!-- Service Item List End -->

                    <!-- Service Footer Start -->
                    <div class="service-footer wow fadeInUp" data-wow-delay="0.25s">
                        <p><span>free</span> Let's make something great work together. <a href="contact.html">get free quote</a></p>
                    </div>
                    <!-- Service Footer Start -->
                </div>
            </div>
        </div>
    </div>
    <!-- Our Service End -->
    {% endif %}
  
    <!-- Our Approach Start -->
    <div class="our-approach bg-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">Why Choose Us</h3>
                        <h2 class="wow fadeInUp" data-wow-delay="0.25s">Why <span>RPMS ?</span></h2>
                    </div>
                    <!-- Section Title End -->
                </div>

                <div class="col-lg-5">
                    <!-- Section Btn Start -->
                    <div class="section-btn wow fadeInUp" data-wow-delay="0.5s">
                        <a href="#" class="btn-default">contact us</a>
                    </div>
                    <!-- Section Btn End -->
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-lg-6">
                    <!-- Our Approach Content Start -->
                    <div class="our-approach-content">
                        <p class="wow fadeInUp">{{core_info.whychoose_us|safe}}</p>
                        
                        <!-- Mission Vision Item Start -->
                        <div class="mission-vision-list">
                            <div class="row">
                                <div class="col-md-12 col-12">
                                    <!-- Mission Vision Item Start -->
                                    <div class="mission-vision-item wow fadeInUp" data-wow-delay="0.2s">
                                        <div class="icon-box">
                                            <img src="{% static 'web/images/icon-our-mission.svg' %}" alt="">
                                        </div>

                                        <div class="mission-vision-content">
                                            <h3>our mission</h3>
                                            <p>{{core_info.our_mission|safe}}</p>
                                        </div>
                                    </div>
                                    <!-- Mission Vision Item End -->
                                </div>

                                <div class="col-md-12 col-12">
                                    <!-- Mission Vision Item Start -->
                                    <div class="mission-vision-item wow fadeInUp" data-wow-delay="0.4s">
                                        <div class="icon-box">
                                            <img src="{% static 'web/images/icon-our-vision.svg' %}" alt="">
                                        </div>

                                        <div class="mission-vision-content">
                                            <h3>our vision</h3>
                                            <p>{{core_info.our_vision|safe}}</p>
                                        </div>
                                    </div>
                                    <!-- Mission Vision Item End -->
                                </div>

                                <div class="col-lg-12 col-12">
                                    <!-- Our Value Item Start -->
                                    <div class="mission-vision-item our-value-item wow fadeInUp" data-wow-delay="0.6s">
                                        <div class="icon-box">
                                            <img src="{% static 'web/images/icon-our-value.svg' %}" alt="">
                                        </div>

                                        <div class="mission-vision-content">
                                            <h3>our value</h3>
                                            <p>{{core_info.core_value|safe}}</p>
                                        </div>
                                    </div>
                                    <!-- Our Value Item End -->
                                </div>
                            </div>
                        </div>
                        <!-- Mission Vision Item End -->

                        <!-- Our Approch Content Footer Start -->
                        <div class="our-approach-content-footer wow fadeInUp" data-wow-delay="0.8s">
                            <a href="#" class="btn-default">Let's work together to turn your goals into reality. <u>Contact us Today</u> </a>
                        </div>
                        <!-- Our Approch Content Footer End -->
                    </div>
                    <!-- Our Approach Content End -->
                </div>

                <div class="col-lg-6">
                    <!-- Our Approach Image Start -->
                    <div class="our-approach-image">
                        <figure class="image-anime reveal">
                            <img src="{% static 'web/images/our-approach-img.jpg' %}" alt="">
                        </figure>
                    </div>
                    <!-- Our Approach Image End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Our Approach End -->

    <!-- Our Partners Start -->
    <div class="our-partners industry-section">
        <div class="container">
            <div class="row section-row align-items-center">
                <div class="col-lg-6">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">Industries</h3>
                        <h2 class="wow fadeInUp" data-wow-delay="0.25s">Industries We <span>Serve</span></h2>
                        <p class="wow fadeInUp" data-wow-delay="0.25s">RPMS delegates integrated advisory outsourcing, credit, tax & counselling services to help clients succeed professionally and personally grounded in public accounting. Our professional services allow us to serve clients more competitively & offer our people diverse career opportunities.</p>
                    </div>
                    <!-- Section Title End -->
                </div>
            </div>

            <div class="page-services">
            <div class="row">

                {% for industry in industries %}
                <div class="col-lg-4 col-md-6">
                    <!-- Service Item Start -->
                    <div class="service-item wow fadeInUp" data-wow-delay="0.8s">
                        <!-- Icon Box Start -->
                        <div class="icon-box">
                            <img src="{{industry.icon.url}}" alt="">
                        </div>
                        <!-- Icon Box End -->

                        <!-- Service Item Content Start -->
                        <div class="service-item-content">
                            <h3>{{industry.title}}</h3>
                            <p>{{industry.description}}</p>
                        </div>
                        <!-- Service Item Content End -->
                    </div>
                    <!-- Service Item End -->
                </div>
                {% endfor %}
            </div>
        </div>
        </div>
    </div>
    <!-- Our Partners End -->

    <!-- Company Experience Section Start -->
    <div class="company-experience bg-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <!-- Company Experience Content Start -->
                    <div class="company-experience-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">Our Impact</h3>
                            <h2 class="wow fadeInUp" data-wow-delay="0.25s">Driving Success Across Diverse Sectors</h2>
                            <p class="wow fadeInUp" data-wow-delay="0.5s">Empowering businesses with tailored analytics solutions and actionable insights to unlock data-driven success.</p>
                        </div>
                        <!-- Section Title End -->

                        <!-- Section Btn Start -->
                        <div class="section-btn wow fadeInUp" data-wow-delay="0.75s">
                            <a href="#" class="btn-default">contact now</a>
                        </div>
                        <!-- Section Btn End -->
                    </div>
                    <!-- Company Experience Content End -->                  
                </div>

                <div class="col-lg-7">
                    <!-- Company Experience List Start -->
                    <div class="company-experience-list">
                        <!-- Company Experience Item Start -->
                        <div class="company-experience-item">
                            <h2><span class="counter">1100</span>+</h2>
                            <h3>PROPRIETORSHIPS</h3>
                            <p>Empowering over 1100+ proprietorships with tailored solutions for growth and success.</p>
                        </div>
                        <!-- Company Experience Item End -->

                        <!-- Company Experience Item Start -->
                        <div class="company-experience-item">
                            <h2><span class="counter">550</span>+</h2>
                            <h3>PARTNERSHIPS</h3>
                            <p>Trusted by over 550 partners, fostering strong and successful collaborations worldwide.</p>
                        </div>
                        <!-- Company Experience Item End -->

                        <!-- Company Experience Item Start -->
                        <div class="company-experience-item">
                            <h2><span class="counter">450</span>+</h2>
                            <h3>CORPORATES</h3>
                            <p>Empowering over 450+ corporates with innovative solutions tailored to drive success and efficiency.</p>
                        </div>
                        <!-- Company Experience Item End -->

                        <!-- Company Experience Item Start -->
                        <div class="company-experience-item">
                            <h2><span class="counter">200</span>+</h2>
                            <h3>TRUSTS & N.G.O</h3>
                            <p>Join 200+ Trusts and NGOs driving impactful social change.</p>
                        </div>
                        <!-- Company Experience Item End -->
                    </div>
                    <!-- Company Experience List End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Company Experience Section End -->


    {% if teams %}
    <!-- Our Team Start -->
     <div class="our-team">
        <div class="container">
            <div class="row section-row align-items-center">
                <div class="col-lg-7">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">our team</h3>
                        <h2 class="wow fadeInUp" data-wow-delay="0.25s">Meet Our Expert <span>Team</span></h2>
                    </div>
                    <!-- Section Title End -->
                </div>

                <div class="col-lg-5">
                    <!-- Section Btn Start -->
                    <div class="section-btn wow fadeInUp" data-wow-delay="0.5s">
                        <a href="#" class="btn-default">view all member</a>
                    </div>
                    <!-- Section Btn End -->
                </div>
            </div>

            <div class="row">
                {% for team in teams %}
                <div class="col-lg-4 col-md-6">
                    <!-- Team Member Item Start -->
                    <div class="team-member-item wow fadeInUp">
                        <!-- Team Image Start -->
                        <div class="team-image">
                            <a href="#">
                                <figure class="image-anime">
                                    <img src="{{team.image.url}}" alt="">
                                </figure>
                            </a>
                        </div>
                        <!-- Team Image End -->
                
                        <!-- Team Content Start -->
                        <div class="team-content">
                            <h3>{{team.name}}</h3>
                            <p>{{team.position}}</p>
                        </div>
                        <!-- Team Content End -->
                    </div>
                    <!-- Team Member Item End -->
                </div>
                {% endfor %}
            </div>
        </div>
     </div>
    <!-- Our Team End -->
    {% endif %}

    <!-- Our Pricing Section Start -->
    <div class="our-pricing bg-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <!-- Pricing Content Start -->
                    <div class="pricing-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">our journey</h3>
                            <h2 class="wow fadeInUp" data-wow-delay="0.25s">A great start with never ending <span>opportunities</span></h2>
                            <p class="wow fadeInUp" data-wow-delay="0.5s">RPMS & Associates is one of the leading providers of risk, financial and business advisory,
                                internal audit, corporate governance, and tax and regulatory services.</p>
                        </div>
                        <!-- Section Title End -->

                        <!-- Pricing Btn Start -->
                        <div class="pricing-btn wow fadeInUp" data-wow-delay="0.75s">
                            <a href="#" class="btn-default">get all touch</a>
                        </div>
                        <!-- Pricing Btn End -->
                    </div>
                    <!-- Pricing Content End -->
                </div>

                <div class="col-lg-7">
                    {% for journey in journies %}
                    <!-- Pricing Box List Start -->
                    <div class="pricing-box-list">
                        <!-- Pricing Box Start -->
                        <div class="pricing-box wow fadeInUp">
                            <!-- Pricing Box Content Start -->
                            <div class="pricing-box-content">
                                <!-- Pricing Title Start -->
                                <div class="pricing-title">
                                    <h3>{{journey.year}}</h3>
                                </div>
                                <!-- Pricing Title End -->

                                
                            </div>
                            <!-- Pricing Box Content End -->

                            <!-- Pricing List Start -->
                            <div class="pricing-list">
                                <p>{{journey.description|safe}}</p>
                            </div>
                            <!-- Pricing List End -->
                        </div>
                        <!-- Pricing Box End -->

                    </div>
                    <!-- Pricing Box List Start -->
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
    <!-- Our Pricing Section End -->

    <!-- How We Work Section Start -->
    <div class="how-we-work">
        <div class="container">
            <div class="row section-row align-items-center">
                <div class="col-lg-6">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">Our Insights</h3>
                        <h2 class="wow fadeInUp" data-wow-delay="0.25s">Delivering  <span>on the Promise</span></h2>
                    </div>
                    <!-- Section Title End -->
                </div>

                <div class="col-lg-6">
                    <!-- Section Button Start -->
                    <div class="section-btn wow fadeInUp" data-wow-delay="0.5s">
                        <a href="#" class="btn-default">contact us</a>
                    </div>
                    <!-- Section Button End -->
                </div>
            </div>

            <div class="row">
                {% for insight in insights %}
                <div class="col-lg-3 col-md-6">
                    <!-- How Work Item Start -->
                    <div class="how-work-item wow fadeInUp">
                        <div class="icon-box">
                            <img src="{{insight.icon.url}}" alt="">
                        </div>

                        <div class="how-work-content">
                            <h3><span>{{ forloop.counter }}.</span> {{insight.title}}</h3>
                            <p>{{insight.description}}</p>
                        </div>
                    </div>
                    <!-- How Work Item End -->
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Scrolling Ticker Start -->
        <div class="scrolling-ticker work-ticker">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Scrolling Ticker Box Start -->
                        <div class="scrolling-ticker-box">
                            <!-- Scrolling Ticker Content Start -->
                            <div class="scrolling-content">
                                {% for marquee_text in marquee_texts %}
                                <span><img src="{% static 'web/images/asterisk-icon.svg' %}" alt="">{{marquee_text.title}}</span>
                                {% endfor %}
                            </div>
                            <!-- Scrolling Ticker Content End -->

                        </div>
                        <!-- Scrolling Ticker Box End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Scrolling Ticker End -->
    </div>
    <!-- How We Work Section End -->

    <!-- Page Blog Start -->
        <div class="page-blog">
            <div class="container">
                <div class="row section-row align-items-center">
                    <div class="col-lg-6">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">RPMS Konnect</h3>
                            <h2 class="wow fadeInUp" data-wow-delay="0.25s">RPMS <span>Konnect</span></h2>
                        </div>
                        <!-- Section Title End -->
                    </div>
    
                    <div class="col-lg-6">
                        <!-- Section Button Start -->
                        <div class="section-btn wow fadeInUp" data-wow-delay="0.5s">
                            <a href="#" class="btn-default">View More</a>
                        </div>
                        <!-- Section Button End -->
                    </div>
                </div>
                <div class="row">
                    {% for rpms_konnect in rpms_konnects %}
    
                    <div class="col-lg-4 col-md-6">
                        <!-- Post Item Start -->
                        <div class="post-item wow fadeInUp">
                            <!-- Post Featured Image Start -->
                            <div class="post-featured-image">
                                <figure>
                                    <a href="{{rpms_konnect.pdf.url}}" class="image-anime" data-cursor-text="View" target="_blank">
                                        <img src="{{rpms_konnect.image.url}}" alt="">
                                    </a>
                                </figure>
    
                                <div class="post-btn">
                                    <a href="{{rpms_konnect.pdf.url}}"><img src="{% static 'web/images/arrow-white.svg' %}" alt=""></a>
                                </div>
                            </div>
                            <!-- Post Featured Image End -->
    
                            <!-- Post Item Content Start -->
                            <div class="post-item-content">
                                <h2><a href="blog-single.html">{{rpms_konnect.title}}</a></h2>
                                <p>{{rpms_konnect.description}}</p>~
                            </div>
                            <!-- Post Item Content End -->
                        </div>
                        <!-- Post Item End -->
                    </div>
                    {% endfor %}
                    </div>
    
    
                   
                </div>
            </div>
        </div>
        <!-- Page Blog End -->

    <!-- Our FAQs Section Start -->
    <div class="our-faqs">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <!-- Our FAQs Content Start -->
                    <div class="our-faqs-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">FAQ</h3>
                            <h2 class="wow fadeInUp" data-wow-delay="0.25s">Frequently Asked Questions</h2>
                        </div>
                        <!-- Section Title End -->

                        <!-- FAQs CTA Box Start -->
                        <div class="faqs-cta-box wow fadeInUp" data-wow-delay="0.75s">
                            <!-- Company Client Images Start -->
                            <div class="company-client-images">
                                <div class="client-image">
                                    <figure class="image-anime">
                                        <img src="{% static 'web/images/satisfy-client-img-1.jpg' %}" alt="">
                                    </figure>
                                </div>
                                <div class="client-image">
                                    <figure class="image-anime">
                                        <img src="{% static 'web/images/satisfy-client-img-2.jpg' %}" alt="">
                                    </figure>
                                </div>
                                <div class="client-image">
                                    <figure class="image-anime">
                                        <img src="{% static 'web/images/satisfy-client-img-3.jpg' %}" alt="">
                                    </figure>
                                </div>
                                <div class="client-image">
                                    <figure class="image-anime">
                                        <img src="{% static 'web/images/satisfy-client-img-4.jpg' %}" alt="">
                                    </figure>
                                </div>
                                <div class="client-image">
                                    <figure class="image-anime">
                                        <img src="{% static 'web/images/satisfy-client-img-5.jpg' %}" alt="">
                                    </figure>
                                </div>
                            </div>
                            <!-- Company Client Images End -->
                             <div class="faqs-cta-content">
                                <h3>Still have you any question?</h3>
                                <p>We're ready to help you to answer any questions.</p>
                                <a href="tel:789859664" class="btn-phone"><i class="fa-solid fa-phone-volume"></i>+01 789 859 664</a>
                             </div>                            
                        </div>
                        <!-- FAQs CTA Box End -->
                    </div>
                    <!-- Our FAQs Content End -->
                </div>

                <div class="col-lg-6">
                    <div class="our-faq-section">
                        <!-- FAQ Accordion Start -->
                        <div class="faq-accordion" id="faqaccordion">

                            {% for faq in faqs %}
                            <!-- FAQ Item Start -->
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.4s">
                                <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                                        {{ faq.question }}
                                    </button>
                                </h2>
                                <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#faqaccordion">
                                    <div class="accordion-body">
                                        <p>{{ faq.answer }}</p>
                                    </div>
                                </div>
                            </div>
                            <!-- FAQ Item End -->    
                            {% endfor %}
                      
                        </div>
                        <!-- FAQ Accordion End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Our FAQs Section End -->

    <!-- Our Testimonial Section Start -->
    <div class="our-testimonial bg-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-8">
                    <div class="our-testimonial-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">testimonial</h3>
                            <h2 class="wow fadeInUp" data-wow-delay="0.25s">Hear from Our <span>Satisfied Clients</span></h2>
                        </div>
                        <!-- Section Title End -->
                    </div>                    
                </div>

                <div class="col-lg-8">
                    <!-- Testimonial Slider Start -->
                    <div class="testimonial-slider">
                        <div class="swiper">
                            <div class="swiper-wrapper" data-cursor-text="Drag">
                                {% for testimonial in testimonials %}
                                <!-- Testimonial Slide Start -->
                                <div class="swiper-slide">
                                    <div class="testimonial-item">
                                        <div class="testimonial-slider-image">
                                            <figure class="image-anime">
                                                <img src="{{testimonial.image.url}}" alt="">
                                            </figure>
                                        </div>

                                        <div class="testimonial-slider-content">
                                            <div class="testimonial-header">            
                                                <div class="testimonial-rating-company">
                                                    <img src="{% static 'web/images/icon-testimonial-rating-4.svg' %}" alt="">
                                                </div>
                                                <div class="testimonial-quote">
                                                    <img src="{% static 'web/images/testimonial-quote.svg' %}" alt="">
                                                </div>
                                            </div>
                                            <div class="testimonial-rating">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </div>                                        
                                            <div class="testimonial-content">
                                                <p>{{testimonial.description}}</p>								
                                            </div>
                                            <div class="author-content">
                                                <h3>{{testimonial.name}}</h3>
                                                <p>{{testimonial.position}}</p>
                                            </div>
                                        </div>                                        
                                    </div>
                                </div>
                                <!-- Testimonial Slide End -->
                                {% endfor %}
                            </div>
                            <div class="testimonial-btn">
                                <div class="testimonial-button-prev"></div>
                                <div class="testimonial-button-next"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Testimonial Slider End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Our Testimonial Section End -->

    <!-- Our Blog Section Start -->
    <div class="our-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <!-- Our Blog Content Start -->
                    <div class="our-blog-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">Blogs/updates</h3>
                            <h2 class="wow fadeInUp" data-wow-delay="0.25s">Latest Blogs and Updates</h2>
                        </div>
                        <!-- Section Title End -->

                        <!-- Our Blog Button Start -->
                        <div class="our-blog-btn wow fadeInUp" data-wow-delay="0.5s">
                            <a href="contact.html" class="btn-default">contact us</a>
                        </div>
                        <!-- Our Blog Button End -->
                    </div>
                    <!-- Our Blog Content End -->                 
                </div>

                <div class="col-lg-8">
                    <!-- Blog Box Start -->
                    <div class="blog-box">

                        {% for blog in blogs %}
                        <!-- Blog Item Start -->
                        <div class="blog-item wow fadeInUp">
                            <!-- Blog Featured Image Start -->
                            <div class="blog-featured-image">
                                <a href="#" class="image-anime" data-cursor-text="View">
                                    <figure>
                                        <img src="{{blog.image.url}}" alt="">
                                    </figure>
                                </a>
                            </div>
                            <!-- Blog Featured Image End -->

                            <!-- Blog Item Body Start -->
                            <div class="blog-item-body">
                                <!-- Blog Item Content Start -->
                                <div class="blog-item-content">
                                    <h2><a href="#">{{blog.title}}</a></h2>
                                    <p>{{blog.description}}</p>
                                </div>
                                <!-- Blog Item Content End -->

                                <!-- Blog Item Button Start -->
                                <div class="blog-item-btn">
                                    <a href="#" class="btn-default">read more</a>
                                </div>
                                <!-- Blog Item Button End -->
                            </div>
                            <!-- Blog Item Body End -->                        
                        </div>
                        <!-- Blog Item End -->
                        {% endfor %}
                    </div>
                    <!-- Blog Box End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Our Blog Section End -->
    {% endblock %}