{% extends "web/base.html" %}
{% load static %}
{% block content %}

    
    <!-- Subpage Section Start -->
    <div class="page-header parallaxie servicr-hero">
        <div class="container">
            <div class="row">
                <div class="co-md-12">
                    <!-- Sub page Header start -->
                    <div class="page-header-box">
                        <h1 class="text-anime">Servcies</h1>
                        <nav>
							<ol class="breadcrumb wow fadeInUp" data-wow-delay="0.50s">
								<li class="breadcrumb-item"><a href="{% url 'web:index' %}">Home</a></li>
								<li class="breadcrumb-item active">Servcies</li>
							</ol>
						</nav>
                    </div>
                    <!-- Sub page Header end -->
                </div>
            </div>
        </div>
    </div>
    <!-- Subpage Section End -->

    <!-- Services Page Start -->
    <div class="service-page-section">
        <div class="container">
            <div class="row">
                {% for service in services %}
                <!-- Services Step Box Start -->
                <div class="col-lg-4 col-md-6">
                    <div class="step-box wow fadeInUp" data-wow-delay="0.50s">
                        <!-- Step Box Img start -->
                        <div class="step-img">
                            <figure class="image-anime">
                                <img src="{{service.service_image.url}}" alt="">
                            </figure>
                        </div>
                        <!-- Step Box Img end -->

                        <!-- Step Box Body start -->
                        <div class="step-body">
                            <!-- Step Icon start -->
                            <div class="step-icon">
                            </div>
                            <!-- Step Icon end -->

                            <h3>{{service.service_name}}</h3>
                            <p>{{service.content|truncatechars:100|safe}}</p>
                            <a href="{{service.get_absolute_url}}" class="btn-read-more">Read More</a>
                        </div>
                        <!-- Step Box Body end -->
                    </div>
                </div>
                <!-- Services Step Box End -->
                {% endfor %}
            </div>            
        </div>
    </div>
    <!-- Services Page End -->


    {% endblock %}