{% extends "web/base.html" %}
{% load static %}
{% block content %}

    <!-- Subpage Section Start -->
    <div class="page-header parallaxie servicr-hero">
        <div class="container">
            <div class="row">
                <div class="co-md-12">
                    <!-- Sub page Header start -->
                    <div class="page-header-box">
                        <h1 class="text-anime">Servcies Details</h1>
                        <nav>
							<ol class="breadcrumb wow fadeInUp" data-wow-delay="0.50s">
								<li class="breadcrumb-item"><a href="{% url 'web:index' %}">Home</a></li>
								<li class="breadcrumb-item"><a href="{% url 'web:service' %}">Servcies</a></li>
								<li class="breadcrumb-item active">Servcies Details</li>
							</ol>
						</nav>
                    </div>
                    <!-- Sub page Header end -->
                </div>
            </div>
        </div>
    </div>
    <!-- Subpage Section End -->

    <!-- Services Single Page Start -->
    <div class="services-single-page">
        <div class="container">
            <div class="row">
                <!-- Sidebar Section Start -->
                <div class="col-lg-4 col-md-12 order-lg-1 order-2">  
                    <div class="services-single-sidebar">
                        <div class="services-single-service wow fadeInUp" data-wow-delay="0.25s">
                            <h3>Our Services</h3>
                            <ul>
                                {% for item in other_service %}
                                <li><img src="{{item.service_image.url}}" alt="{{item.service_name}}"><a href="{{item.get_absolute_url}}">{{item.service_name}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="service-single-contact wow fadeInUp" data-wow-delay="0.65s">
                            <h3>Contact Info</h3>
                            <div class="contact-form wow fadeInUp" data-wow-delay="0.75s">
                                <form  action="#" method="POST">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="form-group col-md-6 mb-3">
                                            {{form.name}}
                                        </div>
        
                                        <div class="form-group  col-md-6 mb-3">
                                            {{form.email}}
                                        </div>
        
                                        <div class="form-group col-md-6 mb-3">
                                            {{form.mobile}}
                                        </div>
        
                                        <div class="form-group  col-md-6 mb-3">
                                            <input type="text" class="form-control" value="{{service.service_name}}" readonly>
                                        </div>
        
                                        <div class="form-group col-md-12 mb-3">
                                            {{form.message}}
                                        </div>
        
                                        <div class="col-md-12">
                                            <button type="submit" class="btn-default">Submit Now</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>  
                </div>
                <!-- Sidebar Section End -->

                <!-- Services Content Start -->
                <div class="col-lg-8 col-md-12 order-lg-2 order-1">
                    <div class="service-single-content">
                        <div class="service-single-img wow fadeInUp" data-wow-delay="0.25s">
                            <figure class="image-anime">
                                <img src="{{service.service_image.url}}" alt="">
                            </figure>
                        </div>

                        <div class="service-single-body">

                            <h3>{{service.service_name}}</h3>
                            
                            <p>{{service.content|safe}}</p>
                        </div>

                        <!-- FAQs Section Start -->
                        <div class="service-single-faq wow fadeInUp" data-wow-delay="0.50s">
                            
                            <!-- FAQs Section Start -->
                            <div class="faq-accordion" id="accordion">
                                <!-- Iterate over service_faqs to display each FAQ -->
                                {% for faq in service_faqs %}
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                                            {{ faq.question }}
                                        </button>
                                    </h2>
                                    <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="heading{{ forloop.counter }}"
                                        data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            {{ faq.answer | safe }}  <!-- Render the FAQ answer (use safe filter if HTML content) -->
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- FAQs Section Ends -->
                    </div>
                </div>
                <!-- Services Content End -->
            </div>
        </div>
    </div>
    <!-- Services Single Page End -->
{% endblock %}