{% extends "web/base.html" %}
{% load static %}
{% block content %}


    <!-- Subpage Section Start -->
    <div class="page-header parallaxie">
        <div class="container">
            <div class="row">
                <div class="co-md-12">
                    <!-- Sub page Header start -->
                    <div class="page-header-box">
                        <h1 class="text-anime">Our Team</h1>
                        <nav>
							<ol class="breadcrumb wow fadeInUp" data-wow-delay="0.50s">
								<li class="breadcrumb-item"><a href="{% url 'web:index' %}">Home</a></li>
								<li class="breadcrumb-item active">Our Team</li>
							</ol>
						</nav>
                    </div>
                    <!-- Sub page Header end -->
                </div>
            </div>
        </div>
    </div>
    <!-- Subpage Section End -->

    <!-- Team Page Section Start -->
    <div class="team-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-12">
                    <!-- Team Member Item Start -->
                    <div class="team-member-card text-center wow fadeInUp" data-wow-delay="0.50s">
                        <!-- Team Img start -->
                        <div class="team-img">
                            <figure class="image-anime">
                                <img src="images/team-1.jpg" alt="">
                            </figure>

                            <div class="our-team-social-icon">
                                <ul>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-twitter"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-facebook-f"></i></a></li>
                                </ul>                               
                            </div>
                        </div>
                        <!-- Team Img end -->

                        <!-- Team Body start -->
                        <div class="team-content">
                            <h3>Michael Johnson</h3>
                            <p>founder</p>
                            <div class="divider-separator"></div>
                        </div>
                        <!-- Team Body end -->
                    </div>
                    <!-- Team Member Item End -->
                </div>

                <div class="col-lg-4 col-12">
                    <!-- Team Member Item Start -->
                    <div class="team-member-card text-center wow fadeInUp" data-wow-delay="0.75s">
                        <!-- Team Img start -->
                        <div class="team-img">
                            <figure class="image-anime">
                                <img src="images/team-2.jpg" alt="">
                            </figure>

                            <div class="our-team-social-icon">
                                <ul>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-twitter"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-facebook-f"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Team Img end -->

                        <!-- Team Body start -->
                        <div class="team-content">
                            <h3>Jessica Anderson</h3>
                            <p>co-founder & CEO</p>
                            <div class="divider-separator"></div>
                        </div>
                        <!-- Team Body end -->
                    </div>
                    <!-- Team Member Item End -->
                </div>

                <div class="col-lg-4 col-12">
                    <!-- Team Member Item Start -->
                    <div class="team-member-card text-center wow fadeInUp" data-wow-delay="1.0s">
                        <!-- Team Img start -->
                        <div class="team-img">
                            <figure class="image-anime">
                                <img src="images/team-3.jpg" alt="">
                            </figure>

                            <div class="our-team-social-icon">
                                <ul>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-twitter"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-facebook-f"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Team Img end -->

                        <!-- Team Body start -->
                        <div class="team-content">
                            <h3>Brian Wilson</h3>
                            <p>Claims representative</p>
                            <div class="divider-separator"></div>
                        </div>
                        <!-- Team Body end -->
                    </div>
                    <!-- Team Member Item End -->
                </div>

                <div class="col-lg-4 col-12">
                    <!-- Team Member Item Start -->
                    <div class="team-member-card text-center wow fadeInUp" data-wow-delay="1.25s">
                        <!-- Team Img start -->
                        <div class="team-img">
                            <figure class="image-anime">
                                <img src="images/team-4.jpg" alt="">
                            </figure>

                            <div class="our-team-social-icon">
                                <ul>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-twitter"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-facebook-f"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Team Img end -->

                        <!-- Team Body start -->
                        <div class="team-content">
                            <h3>Liza Doolittle</h3>
                            <p>Insurance specialist</p>
                            <div class="divider-separator"></div>
                        </div>
                        <!-- Team Body end -->
                    </div>
                    <!-- Team Member Item End -->
                </div>

                <div class="col-lg-4 col-12">
                    <!-- Team Member Item Start -->
                    <div class="team-member-card text-center wow fadeInUp" data-wow-delay="1.50s">
                        <!-- Team Img start -->
                        <div class="team-img">
                            <figure class="image-anime">
                                <img src="images/team-5.jpg" alt="">
                            </figure>

                            <div class="our-team-social-icon">
                                <ul>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-twitter"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-facebook-f"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Team Img end -->

                        <!-- Team Body start -->
                        <div class="team-content">
                            <h3>Henry Higgins</h3>
                            <p>Insurance agent</p>
                            <div class="divider-separator"></div>
                        </div>
                        <!-- Team Body end -->
                    </div>
                    <!-- Team Member Item End -->
                </div>

                <div class="col-lg-4 col-12">
                    <!-- Team Member Item Start -->
                    <div class="team-member-card text-center wow fadeInUp" data-wow-delay="1.75s">
                        <!-- Team Img start -->
                        <div class="team-img">
                            <figure class="image-anime">
                                <img src="images/team-6.jpg" alt="">
                            </figure>
                            
                            <div class="our-team-social-icon">
                                <ul>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-twitter"></i></a></li>
                                    <li><a href="#" class="social-icon"><i class="fa-brands fa-facebook-f"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Team Img end -->

                        <!-- Team Body start -->
                        <div class="team-content">
                            <h3>Brian Wilson</h3>
                            <p>Claims investigator</p>
                            <div class="divider-separator"></div>
                        </div>
                        <!-- Team Body end -->
                    </div>
                    <!-- Team Member Item End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Our Team Section End -->

    {% endblock %}